export AWS_PROFILE=[enter AWS profile to use for terraform backend]
export S3_STATE_BUCKET=[enter name of S3 bucket for terraform to use]
export TF_VAR_compartment_id=[OCI tenancy/compartment OCID]
export TF_VAR_ghcr_token=[PAT token for ghcr access]
export TF_VAR_cloudflare_api_token=[Cloudflare API token]
export TF_VAR_cloudflare_account_id=[Cloudflare account ID]
export TF_VAR_my_ip_cidr="$(curl -s https://checkip.amazonaws.com)/32"
